body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background: white;
    border-radius: 8px;
}

#header {
    background: #0BA888;
    color: white;
    padding: 20px;
    text-align: center;
    
}

#content {
    padding: 20px;
}

#qa {
    display: none;
    margin-top: 20px;
}

#qa-btn {
    display: block;
    width: 700px;
    height: 50px;
    margin: 10px auto;
    background: #008878;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    line-height: 50px;
    cursor: pointer;
    margin-bottom: 40px;
    
}

img{
    width: 100%;
    height: auto;
}

#img-banner{
    background-color: #0DBF9A;
}

#how-works {
    text-align: left;
    font-size: 25px;
    margin-top: 15%;
    margin: auto;
    width: 60%;
    padding: 30px;
}

#qa{
    cursor: pointer;
    text-align: left;
    font-size: 25px;
    margin: auto;
    width: 60%;
    
}

#pig-img{
    margin: auto;
    width: 10%;
   
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #636e72;
    text-align: center;
}

a{
    color: #008878;
}